.project-img {
  border: 5px solid #0d6efd;
  border-radius: 4px;
  padding: 10px;
}

.project-view img {
  height: 330px;
}

.project-short-detail {
  padding-left: 30px;
}

@media only screen and (max-width:640px) {
  
  .project-short-detail {
    padding-right: 15px;
  }

}